body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.todo__heading span {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.todo__heading span:first-child {
  color: #a855cc;
}
.todo__heading span:nth-child(2) {
  color: #a072c2;
}
.todo__heading span:nth-child(3) {
  color: #7979f7;
}
.todo__heading span:nth-child(4) {
  color: #78f378;
}
.todo__heading span:nth-child(5) {
  color: #ffff80;
}
.todo__heading span:nth-child(6) {
  color: #f5b779;
}
.todo__heading span:nth-child(7) {
  color: #f77c7c;
}

.todo__heading {
  text-align: center;
  line-height: 15px;
}

h1 {
  font-size: 35px;
}

h3 {
  color: rgb(96, 96, 96);
}

.todo__credentials {
  text-align: center;
}

.todo__container {
  display: flex;
  flex-wrap: wrap;
}

.todo__wrapper {
  position: relative;
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
  min-height: 200px;
}
.todo__list {
  min-height: 100px;
  list-style: none;
  padding: 0;
}
.todo__task {
  display: flex;
}

.todo__list-btn-add {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.todo__list-btn-add div {
  width: 100px;
  opacity: 0.5;
}

.todo__list-btn-add span {
  opacity: 0.5;
}
.todo__list-btn-add div:hover {
  opacity: 1;
}
.todo__input-wrapper {
  display: flex;
  gap: 10px;
}

.todo__input {
  min-width: 170px;
}
.todo__btn-add {
  color: white;
  cursor: pointer;
  width: 20px;
  display: flex;
  opacity: 0.5;
}
.todo__btn:hover {
  opacity: 1;
}

.completed {
  text-decoration: line-through;
}

.todo__list-delete-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  align-self: end;
  cursor: pointer;
  opacity: 0.5;
}
.todo__list-delete-icon:hover {
  opacity: 1;
}

.todo__task-wrapper {
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo__task-icon {
  width: 15px;
  padding-right: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.todo__task-icon:hover {
  opacity: 1;
}

.todo__input-warning {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 2px;
}

.todo__list-title {
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.todo__title {
  font-size: 20px;
  margin: 10px 0;
}

.todo__title-new {
  border-style: none;
  font-size: 20px;
  margin: 10px 0 20px;
  font-family: auto;
}

.todo__icon_show {
  visibility: visible;
}

.todo__btn-edit {
  visibility: hidden;
}

.todo__task-new {
  width: 135px;
  margin-right: 10px;
  border-style: none;
  font-family: auto;
  font-size: 16px;
  height: 16px;
}

.todo__list-set-color {
  width: 12px;
  height: 12px;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}

.todo__list-set-color:hover {
  opacity: 1;
  cursor: pointer;
}

.todo__list-color-picker {
  width: 170px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50px;
  opacity: 0.5;
  display: flex;
  justify-content: space-evenly;
}
.todo__list-color-item {
  border: solid 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.todo__list-color-item:hover {
  cursor: pointer;

  border: solid 1px white;
}
